:root {
    --primary-blue: #4962c7;
    --lightest-blue: #c7d4dd;
}

body {
    background: var(--lightest-blue);
}

h1 {
    color: white;
    padding: 30px;
    text-align: center;
    font-size: 1.75rem;
    background-color: var(--primary-blue);
}

.row {
    display: flex;
    gap: 35px;
    padding: 30px;

}

.col-lg-3 {
    width: 450px;
    margin-right: 20px;
}

.form-input {
    width: 93%;
    height: 45px;
    padding: 10px;
    margin-bottom: 10px;
}

#search-button {
    background-color: rgb(25, 135, 239);
    outline: none;
    border-radius: 5px;
    padding: 2px;
    width: 100%;
    color: white;
}

#today {
    background: var(--primary-blue);
    color: white;
    justify-content: space-between;
    border-radius: 5px;
    padding: 20px 70px 20px 20px;
}

.icon {
    max-width: 120px;
    margin-top: -15px;
    text-transform: capitalize;
    display: right; 
}

#forecast {
    padding: 0px 0px 30px 0px;
}

.col-md-2 {
    background-color: rgb(28, 44, 84);
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 5px;
    width: 150px;
    padding: 20px;
    color: white;

}

.history-item {
    background: rgb(180, 178, 178);
    border-radius: 5px;
}

.fDate {
    color: white;
    font-weight: 300;
}